/* element or tag selector */
/* first tag, class and id */

*{
    padding: 0;
    margin: 0;
}
body{
    padding-top: 80px;
    background-color: white; 
}

header{
    background-color:gray;
    position: fixed;
    top: 0; 
    left: 0;
    text-align: center;
    width: 100%;
}
nav>ul>li{
    display: inline-block;
    padding: 10px 14px;
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;
}
nav>ul>li>a{
    text-decoration: none;
}
nav>ul>li>:hover{
    color: #ffffff;
}

section{
    margin-top: 100px;
    font-family: cursive;
    font-size: medium;
}
.new{
    margin-top: 100px;
    font-family: cursive;
}
.article1{
    font-size: 15px;
    line-height: 23px;
    font-family: cursive;
}
.b1pic{
    float: left;
}

.title >p{
    font-size: 23px;
    
    text-align: center;
}
.date{
    text-align: center;
    font-style: italic;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 15px;
    text-transform: uppercase;
}
/* ############################################# contact>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> */
.text{
    font-family: cursive;
    align-content: center;
}
pre{
    font-family: cursive;
    text-align: center;
}

.mypic{
    
    margin-left: 470px;
}
.mypic :hover{
opacity: 0.2;
}
.u1{
    float: left;
}

/* changing the general structure inline or block */

p{
    float:right;
}


.clear{
    clear: left;
}


input[type=text], select {
    width: 40%;
    padding: 12px 20px;
    margin: 8px 0;
    display: block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }
  input[type=password], select {
    width: 40%;
    padding: 12px 20px;
    margin: 8px 0;
    display: block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }
  
  input[type=radio], select {
    padding: 12px 20px;
    margin: 8px 0;
    display: inline;
    
  }
  
  input[type=submit] {
    width: 40%;
    background-color: rgb(112, 112, 112);
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  input[type=submit]:hover {
    background-color: #8a8a8a;
    
  }
  input[type=rate], select {
    padding: 14px 20px;
    margin: 8px 0;
    display: block;
    border: 1px solid #ccc;
    border-radius: 4px;
    
  }
  input[type=date], select {
    padding: 14px 20px; 
    width: 40%;
    margin: 8px 0;
    display: block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }
  
  .form {
    border-radius: 5px;
    background-color: #ffffff;
    padding: 20px;
    float: left;
    margin-left: 10px;
    margin-top: 95px;
    width: 650px;
  }
  textarea {
    margin: 8px 0;
    width: 60%;
    height: 150px;
    padding: 14px 20px;
    box-sizing: border-box;
    height: 200px;
    border-radius: 5px;
    background-color: #ccc;
    resize: none;
    
}

  .mapouter{
    margin-top: 75px;
    border-radius: 5px;
    padding: 20px;
    float: right;
    
  }
  .links{
    padding-left: 100px;
    padding-top: 50px;
    float: left;
    display: inline;
    align-content: center;
    text-decoration: none;
    text-align:center;
   }
   ul {
    list-style-type: none;
  }
  li{
      padding: 10px;
      text-align: center;
      font-family: cursive;
      font-size: 14px;
      align-content: center;
  }


   /* Index page..##############################################################............................. */
.pic{
    margin-left: 150px;
}

.pic>p{
    text-align: justify;
    margin-left: 300px;
}
footer {
    position: relative;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: gray;
    text-align: center;
 }
.fot>ul>li{
    display: inline-block;
}
.fot>ul>li :hover{
    transform: scale(0.7);
}

h6{
    text-align: center;
    font-size: 14px;
}
.box{
	width: 450px;
	height: 200px;
	border-top-right-radius:50px;
	border-bottom-left-radius:50px;
	
	text-align: center;	
	margin: auto;
	margin:center;
	
	top: 35%;
	left:55%;
	transform: translate(-50%,-50%);
    position: absolute;
}

.box h1{
	color: #333333;
	font-weight: lighter;
	font-family: Century Gothic;
	font-size: 34px;
	font: lighter;
	margin: 10px

}
.box h4{
	color: #000;
	font-weight: lighter;
	font-family: cursive;
	font: lighter;
	margin: 30px
}
/* p{
    font-family: cursive;
    font-size: 18px;
} */

.h3s{
    font-family: cursive;
    font-size: 26px;
    font-style: italic;
    text-align: center;
}

.boximg{
	width: 450px;
	height: 200px;
	border-top-right-radius:50px;
	border-bottom-left-radius:50px;
	
	text-align: center;	
	margin: auto;
	margin:center;
	color: gray;
	top: 190%;
	left:12%;
	transform: translate(-50%,-50%);
    position: absolute;
}

.boximg2{
	width: 450px;
	height: 200px;
	border-top-right-radius:50px;
	border-bottom-left-radius:50px;
	
	text-align: center;	
	margin: auto;
	margin:center;
	color: gray;
	top: 190%;
	left:88%;
	transform: translate(-50%,-50%);
    position: absolute;
}
.boxjava{
	width: 450px;
	height: 200px;
	border-top-right-radius:50px;
	border-bottom-left-radius:50px;
	
	text-align: center;	
	margin: auto;
	margin:center;
	color: gray;
	top: 31%;
	left:92%;
	transform: translate(-50%,-50%);
    position: absolute;
}
.boxpython{
	width: 450px;
	height: 200px;
	border-top-right-radius:50px;
	border-bottom-left-radius:50px;
	
	text-align: center;	
	margin: auto;
	margin:center;
	color: gray;
	top: 68%;
	left:85%;
	transform: translate(-50%,-50%);
    position: absolute;
}

.boxcss{
	width: 450px;
	height: 200px;
	border-top-right-radius:50px;
	border-bottom-left-radius:50px;
	
	text-align: center;	
	margin: auto;
	margin:center;
	color: gray;
	top: 92%;
	left:91%;
	transform: translate(-50%,-50%);
    position: absolute;
}
.boxcplus{
	width: 450px;
	height: 200px;
	border-top-right-radius:50px;
	border-bottom-left-radius:50px;
	
	text-align: center;	
	margin: auto;
	margin:center;
	color: gray;
	top: 114%;
	left:17%;
	transform: translate(-50%,-50%);
    position: absolute;
}
.boxreact{
	width: 450px;
	height: 200px;
	border-top-right-radius:50px;
	border-bottom-left-radius:50px;
	
	text-align: center;	
	margin: auto;
	margin:center;
	color: gray;
	top: 144%;
	left:8%;
	transform: translate(-50%,-50%);
    position: absolute;
}
.boxflut{
	width: 450px;
	height: 200px;
	border-top-right-radius:50px;
	border-bottom-left-radius:50px;
	
	text-align: center;	
	margin: auto;
	margin:center;
	color: gray;
	top: 95%;
	left:6%;
	transform: translate(-50%,-50%);
    position: absolute;
}
/* #####################################blog############################################ */
.boxb1{
	width: 90%;
	text-align: center;	
	margin: auto;
	margin:center;
	top: 125%;
	left:50%;
	transform: translate(-50%,-50%);
    position: absolute;
    opacity: 1;	
}
