body{
    background-color:gray;
}
/* nav>ul>li{
    display: inline-block;
    padding: 10px 3px;
    font-size: 20px;
}
nav>ul>li>a{
    text-decoration: none;
} */

.prev{
    float: left;
}
.new{
    
    float: right;
}
nav>ul>li{
    display: block;
    padding: 10px 3px;
    font-family: cursive;
    font-size: 20px;
    font-weight: bolder;
}